



@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    
}
/* header section styles */
header{
    background-image: url('../images/Banner\ Image.png'); 
    max-width: 1320px;
    max-height: 600px;
    margin-right: 140px;
    margin-left: 140px;
    margin-top: 50px;
    border-radius: 16px;


}

.banner-content{
    text-align: center;
    padding-top: 127px;
    height:650px;
    color: #FFF;
 

    
}



.banner-small-title{
    font-size: 32px;
    padding-left: 300px;
    padding-right: 200px
    

}

.banner-large-title{
    font-size: 72px;
    font-weight: 900;
    padding-left: 344px;
    padding-right: 342px;
}

/* Discount section */

.discount{
    text-align: center;
    margin-top: 120px;

}

.discount-amount{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.discount-title{
    margin-top: 48px;


}

.discount-deal{
    color: #F00;
    font-size: 24px;
    font-weight: 500;

}

.discount-category{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
}

.discount-banner{
    background-image: url('../images/New\ Year\ Photo.png');
}

/* new year section */

.new-year-image{
    width: 802px;
    height: 500px;
}

/* party banner section */

.party-banner{
    background-image: url('../images/Vectorrr.png');
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    margin-top: 120px;
    margin-left: 140px;
    padding-right: 140px;

}

.party-banner-title{
    text-align: left;


}
.party-banner-welcome-title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    width: 642px;
    padding-top: 126px;
    padding-left: 126px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.party-banner-description{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    width: 697px;
    padding-left: 126px;
    margin-top: 25px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}

.party-join{
    color: #FFF;
    padding-left: 158px;
    margin-top: 48px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;

}

.place{
    text-align: center;
    margin-top: 120px;
    width: 1320px;
    height: 482px;
    margin-left: 140px;

    background-color:#ffc0ecd5

}

.place-description{
    padding-top: 100px;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    
}

.place-highlight{
    color: #F00;
}


.join-button{
    
    padding: 16px 32px;
    gap: 10px;
    border-radius: 10px;
    background: #F00;
    border: none;
   
}
/* coming soon offer */


.coming-soon{
    display: flex;
    margin-right: 140px;
    margin-left: 140px;
    margin-top: 120px;
    width: 1320px;
    /* height: 482px; */
    justify-content: space-evenly;
    
}

.coming-soon-offer{
    width: 393px;
    padding-top: 90px;
}

.coming-soon-new{
    color: #F00;
    font-size: 24px;
    font-weight: 500;

}
.coming-soon-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.coming-soon-text{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    font-family: Inter;
    line-height: 32px;

}

.coming-soon-clebration{
    width: 364.844px;
    height: 364.844px;
    flex-shrink: 0;
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 50px;

}

.coming-soon-description{
    margin-left: 118px;
    padding-top: 180px;
    padding-bottom: 0%;
    
    

}

.description-date{
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
}

.description.details{
    
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 276px;

    
}

/* Functional section */

.functional{
    width:1320px ;
    height: 600px;
    margin-top: 100px;
    margin-left: 140px;
    margin-right: 140px;
}

.functional-div{
    text-align: center;

   
}

.functional-title{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.functional-heading{
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.functional-description{
    color: rgba(7, 2, 17, 0.60);
    width: 1068px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 
}

.discount-pic{
    display: flex;
    align-items: flex-end;
    border-bottom: none;
}

.discount-pic-1{

}



